.preview {
  --background: var(--ch-23);
  --accent: var(--ch-4);
}

.preview header, .preview footer {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, var(--background) 1px);
  background-size: 4px 4px;
  backdrop-filter: blur(3px);
  position: relative;
  z-index: 40;
}

.preview header:before, .preview footer:before {
  display: block;
  content: "";
  position: absolute;
  bottom: -0.5px;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--accent);
  opacity: 0.2;
}

.preview footer:before {
  bottom: 0;
  top: 0.5px;
}
